@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "reset.css";
@import "status-bar.css";

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Layout css */
.container {
    background-color: #fff;
    width: 450px;
    height: 530px;
    border: 2px solid #1c4561;
    border-radius: 30px;
    /* Center Layout */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    padding: 17px;
    font-size: 20px;
    font-weight: bold;
    color: #1c4561;
    text-align: center;
    border-bottom: 2px solid #1c4561;
}

.type_list {
    margin: auto;
    width: 400px;
}

div .searchbox {
    display:inline-block;
    margin: 8px 0px 8px 26px;
}

.inputbox {
    font-size: 16px;
    text-align: center;
    margin-right: 8px;
    border: 1px solid #1c4561;
    border-radius: 10px;
}
.btnbox{
    text-align: center;
    border: 1px solid #1c4561;
    background-color: #1c4561;
    color: white;
    border-radius: 20px;
}

.map_img {
    position: absolute;
    width: 98%;
    height: 68.5;
    /* height: 100%; */
    top: 40.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1.5px solid #1c4561;
    padding: 6px;
}

/* 하단 내용 css */
.space_text {
    margin-top: 60%;
    font-size: 17px;
    color: #1c4561;
    font-weight: bolder;
}
.office_img {
    position: absolute;
    width: 54%;
    height: 140px;
    top: 83.5%;
    left: 32.5%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}
.office_text {
    margin-top: 21px;
    margin-left: 63%;
    font-size: 15px;
    font-weight: bold;
}